<div id="footer">
    <center style="padding-top:30px;font-size:11px;"><b>published under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> by Research Squirrel Engineers Network (2023)
            | Sophie C. Schmidt, Florian Thiery</b><br><a href="https://www.leiza.de/impressum">Impressum</a>
        | <a href="https://www.leiza.de/datenschutz">Datenschutz</a></center>
</div>

<script>$(document).ready(function(){setSVGDimensions()})</script>

</body></html>
