<div id="footer">
    <center style="padding-top:30px;font-size:11px;"><b>published under <a href="https://www1.rgzm.de/ips/Licensing/DPPL/DPPLLicenseSamian_English.html" target="_blank">m-DPPL</a> by Leibniz-Zentrum für Archäologie (2024)
            | Dr. Allard W. Mees FSA, Florian Thiery M.Sc., Dennis Gottwald B.A.</b><br><a href="https://www.leiza.de/impressum">Impressum</a>
        | <a href="https://www.leiza.de/datenschutz">Datenschutz</a></center>
</div>

<script>$(document).ready(function(){setSVGDimensions()})</script>

</body></html>
