<div id="footer">
    <center style="padding-top:30px;font-size:11px;"><b><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> | Leibniz-Zentrum für Archäologie (2022-2023)
            | Florian Thiery M.Sc., Dr. Allard W. Mees FSA</b><br><a href="https://web.rgzm.de/ueber-uns/impressum/">Impressum</a>
        | <a href="https://web.rgzm.de/ueber-uns/datenschutzerklaerung/">Datenschutz</a></center>
</div>

<script>$(document).ready(function(){setSVGDimensions()})</script>

</body></html>
